body{
	margin: 0;
	padding: 0; 
	font-family: Helvetica;
	font-size: 12px;
}
a {
	text-decoration: none;
	color: #365899; 
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 45px;
	margin: 0;
}
p {
	margin: 0;
}
ul {
	list-style: none;
	padding:  0;
}
li{
	display: inline-block;
	padding: 0 5px 1px 0;
}
label {
	color: #ffffff;
}
h2 {
	margin: 0;
}
.centr {
	width: 986px;
	margin: 0 auto;
}
.poloska {
	background-color: #3c5a98;
	
}
.logo h1 {
	color: #ffffff;
}

.login {
	padding: 5px 0;
}

.logo {
	display: inline-block;
	padding-top: 17px;
}
.form {
	float: right;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.inp_text {
	color: #9cb4d8;
}
.button {
	font-weight: bold;
	padding: 3px;

}
.blue {
	color: #ffffff;
	background-color: #4267b2;
	border: 1px solid #29487d;
}
.mid {
	background-color: #e9ebee;
	padding:  150px;
	display:  flex;
}
.find_akk {
	background-color: white;
	display:  flex;
	align-items:  center;
	margin:  0 auto;
	padding: 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

section.find_akk {}
.find_akk__box {
}
.language {
	padding-top: 100px;
	border-bottom: 1px solid #dddfe2;
}